body {
  background: #1b1e25;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav button {
  border: none;
  background-image: linear-gradient(to right, #9b36ff, #5618ff);
  padding: 4px 8px;
}